.env
venv/
rag_env/
.venv/

__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints
.vscode/
.idea/


data/raw/*
data/processed/*
data/vector_db/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vector_db/.gitkeep

mlruns/
.mlflow/

models/**/*
!models/.gitkeep
!models/checkpoints/.gitkeep

*.safetensors
*.ckpt
*.pth
*.bin
*.onnx


*.log
.DS_Store
Thumbs.db

assets/*.tmp